* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Open Sans;
  margin: 0;
}

nav {
  background-color: #75e2e6;
  border-bottom: solid 3px #048eaa;
  height: 80px;
  padding: 1% .5%;
  padding: 9px;
  width: 100%;
}

.dog-icon {
  height:60px;
  margin-left:15px;
  width: 60px;
}

a {
  color: black;
  float: right;
  font-size: 20px;
  font-weight: bold;
  list-style-type: none;
  margin-right: 20px;
  margin: 1%;
  text-decoration: none;
}

.section-some-dogs { 
  background-image: url(images/park.jpg);
  background-position: 50% 71%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: darkgray;
  border-top: solid 1px #048eaa;
  padding: 1%;
 }

div {
  margin: auto;
  width: 37%;
}

.header-some-dogs {
  color: white;
  font-size: 100;
  font-size: 45px;
  text-align: center;
}

span {
  font-weight: bold;
}

form button,
form input {
  border: none;
  border-radius: 5px;
  display: block;
  height: 50px;
  margin: auto auto;
  width: 100%;
}

form input {
  margin-top: 1%;
}

.button-name-this-dog {
  background-color: #75e2e6;
  font-size: 20px;
  font-weight: 600;
  margin: 5% 0%;
}

 label {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-left: 1px;
}

.dog-article, 
.dog-main {
  border-radius: 50%;
  border: #048eaa solid 5px;
  display: block;
  height: 250px;
  margin: auto;
  width: 250px;
}

article {
  display: inline-block;
  margin: 36px 58px 45px 58px;
  margin: 36px 58px;
  min-width: 300px;
  vertical-align: top;
  width: 25%;
}

h2 {
  font-size:36px;
  text-align: center;
}

#p-info {
  font-size: 20px;
  height: 260px;
  margin: 30px 0 16px 0;
  font-weight: 500;
}

button {
  background-color: #048eaa;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  width: 100%;
}

#main-button {
  color: black;
}

footer {
  background-color: #048eaa;
  color: white;
  height: 230px;
}

h3 {
  margin: 0;
  padding-top: 4%;
  text-align: center;
  font-weight: 400;
}

.ul-social-logos {
  display: inline-block;
  height: 50px;
  list-style-type: none;
  margin-top: 40px;
  padding: 0px;
  text-align: center;
  width: 100%;
}

.social-logos {
  display: inline;
  margin: 0 10px;
  height: 100%; 
}

@media screen and (max-width: 1439px) {

  article {
    display: block;
    width: 50%;
    margin: auto;
  }

  footer {
    margin-top: 2%;
    }
  }

}